@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body{
    color: black;
    background: black;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 28px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    filter: drop-shadow(0 0 5px #09001d);
}
.main {
    min-height: 100vh;
    background: url(./quimage4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
    color: white;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}

.container{
    display: flex;
    height: 100vh;
    width: 200%;
}

.home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 30, 32);
}

.home-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.home-content h1{
    font-size: 68px;
    font-weight: 700;
    color: white;
    /* text-shadow: 0 0 10px #e9dada; */
}
.home-content p{
    font-size: 16px;
    text-align: center;
    /* text-shadow: 0 0 10px #e9dada; */
    margin: 30px;
    color: white;
}

.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: #339aa6;
    border: 2px solid #fff;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #339aa6;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover{
    background: #09001d;
    box-shadow: none;
    color: white;
}
#author {
    background-color: rgb(1, 15, 28);
    opacity: .6;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0; 
}

.guide-info{
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%) scale(.9);
    width: 450px;
    background: #1f1e1e;
    border-radius: 30px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.guide-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.option span {
    color: white;
}

.guide-info h2{
    font-size: 40px;
    color: #08e9d6;
}

.guide-info h1{
    font-size: 22px;
    color: black;
}

.guide-info .info{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.guide-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.guide-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    background: #08e9d6;
    border: 2px solid #08e9d6;
    outline: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.guide-info .btn-group .info-btn:nth-child(1){
    background: transparent;
    color: white;
    opacity: 0;
}
.guide-info .btn-group .info-btn:nth-child(1):hover{
    background: #08e9d6;
    color: black;
}

.guide-info .btn-group .info-btn:nth-child(2){
    color: black;
}

.guide-info .btn-group .info-btn:nth-child(2):hover{
    background: #084b4e;
    border-color: #084b4e;
    color: white;
}
.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: url(./quimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.quiz-section.active{
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #084b4e;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #084b4e, transparent);
    border-radius: 6px;
}
 

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #084b4e;
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 300;
}


.quiz-header .header-score {
    background: #084b4e;
    border-radius: 6px;
    padding: 7px;
    margin: 0 0 0 320px;
}

.quiz-box .question-text {
    font-size: 18px;
    font-weight: 400;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 7px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.option-list .option.correct {
    background: rgba(255, 255, 255, .1);
    color: #00a63d;
    border-color: #00a63d;
}

.option-list .option.Incorrect {
    background: #1e0303;
    color: #a60045;
    border-color: #a60045;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #084b4e;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}


.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: #084b4e;
    border-color: #084b4e;
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: #084b4e;
    background-color: #084b4e;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #084b4e;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container {
    width: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#084e17 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: #084b4e;
    border: 2px solid #084b4e;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #084b4e;
    border-color: #084b4e;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #084b4e;
}

.buttons button:nth-child(2):hover {
    background: #084b4e;
    color: #fff;
}

@media screen and (min-width: 280px) and (max-width: 280px){
    html, body {
        overflow: hidden;
    }
    .main {
        min-height: 100vh;
        background: url(./quimage2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        pointer-events: auto;
        transition: .3s ease;
        color: white;
    }
    .home{
        position: relative;
        left: -50%;
        width: 100%;
        display: fixed; /*filled the screen for home page*/
        justify-content: center;
        align-items: center;
        color: rgb(31, 30, 32);
    }
    
    .home-content{
        max-width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: 25px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 14px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    .guide-info{
        position: absolute;
        top: 50%;
        left: 50%;   
        transform: translate(-50%, -50%) scale(.9);
        width: 240px;
        background: #1f1e1e;
        border-radius: 30px;
        padding: 10px 25px;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    .option span {
        color: white;
    }
    
    .guide-info h2{
        font-size: 30px;
        color: #08e9d6;
    }
    
    .guide-info h1{
        font-size: 19px;
        color: black;
    }
    
    .guide-info .info{
        display: inline-block;
        font-size: 14px;
        color: #333;
        font-weight: 500;
        margin: 4px 0;
    }
    
    .quiz-section {
        position: relative;
        left: -50%;
        width: 100%;
        background: url(./quimage4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: .8s ease-in-out;
        transition-delay: .25s;
    }
    
    .quiz-section.active{
        left: 0;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 6px;
        padding: 7px;
        margin: 0 0 0 150px;
    }
    
    .quiz-section .quiz-box {
        position: relative;
        width: 240px;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box h1 {
        font-size: 25px;
        text-align: center;
        background: linear-gradient(45deg, transparent, #084b4e, transparent);
        border-radius: 6px;
        display: none;
    }
     
    
    .quiz-box .quiz-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 2px solid #084b4e;
        margin-bottom: 30px;
    }
    
    .quiz-header span {
        font-size: 14px;
        font-weight: 300;
    }
    
    
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 6px;
        padding: 4px;
        margin: 0 0 0 60px;
    }
    
    .quiz-box .question-text {
        font-size: 14px;
        font-weight: 400;
    }
    
    .option-list .option {
        width: 100%;
        padding: 12px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 4px;
        font-size: 14px;
        margin: 7px 0;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-footer .question-total {
        font-size: 10px;
        font-weight: 600;
    }
    
    .quiz-footer .next-btn{
        width: 80px;
        height: 30px;
        background: rgba(255, 255, 255, .1);
        border: 2px solid rgba(255, 255, 255, .1);
        outline: none;
        border-radius: 6px;
        font-size: 12px;
        color: rgba(255, 255, 255, .3);
        font-weight: 600;
        cursor: pointer;
        pointer-events: none;
        transition: .5s;
    }
    .quiz-section .result-box {
        width: 240px;
    }
    
    .quiz-section .result-box.active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .result-box h2 {
        font-size: 22px;
    }
    
    .result-box .percentage-container {
        width: 300;
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 40px;
    }
    
    .percentage-container .circular-progress {
        position: relative;
        width: 120px !important;
        height: 120px !important;
        background: conic-gradient(#084e17 3.6deg, rgba(255, 255, 255, .1) 0deg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .percentage-container .circular-progress::before {
        content: '';
        position: absolute;
        width: 90px !important;
        height: 90px !important;
        background: #09001d;
        border-radius: 50%;
    }
    
    .circular-progress .progress-value {
        position: relative;
        font-size: 25px;
        font-weight: 200;
    }
    
    .percentage-container .score-text {
        font-size: 16px;
        font-weight: 200;
        margin-top: 40px;
    }
    
    .result-box .buttons {
        display: flex;
    }
    
    .buttons button {
        width: 70px;
        height: 50px;
        background: #084b4e;
        border: 2px solid #084b4e;
        outline: none;
        border-radius: 25px;
        font-size: 13px;
        color: #fff;
        font-weight: 200;
        margin: 0 10px 20px;
        cursor: pointer;
        transition: .5s;
    }
    
    .buttons button:nth-child(1):hover {
        background: #084b4e;
        border-color: #084b4e;
    }
    
    .buttons button:nth-child(2) {
        background: transparent;
        color: #084b4e;
    }
    
    .buttons button:nth-child(2):hover {
        background: #084b4e;
        
        color: #fff;
    }
    
}

@media screen and (max-height: 650px){
    .guide-info{
        position: absolute;
        top: 50%;
        left: 50%;   
        transform: translate(-50%, -50%) scale(.9);
        width: 280px;
        background: #1f1e1e;
        border-radius: 30px;
        padding: 10px 25px;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    .quiz-section .quiz-box {
        position: relative;
        width: 450px;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box h1{
        font-size: 30px;
    }
    .quiz-box .question-text{
        font-size: 20px;
    }
    .quiz-box .option-list span{
        font-size: 18px;
    }
    .option-list .option {
        width: 100%;
        padding: 6px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 4px;
        font-size: 18px;
        margin: 4px 0;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 5px;
        padding: 10px;
        margin: 0 0 0 270px;
    }
    .quiz-section .result-box {
        width: 450px;
    }
}



@media screen and (min-width: 300px) and (max-width: 670px) {
    html, body {
        overflow: hidden;
    }
    .main {
        min-height: 100vh;
        background: url(./quimage4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        pointer-events: auto;
        transition: .3s ease;
        color: white;
    }
    .home{
        position: relative;
        left: -50%;
        width: 100%;
        display: fixed; /*filled the screen for home page*/
        justify-content: center;
        align-items: center;
        color: rgb(31, 30, 32);
    }
    
    .home-content{
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: 30px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 16px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    
    .home-content .start-btn{
        width: 190px;
        height: 55px;
        background: #339aa6;
        border: 2px solid #fff;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px #339aa6;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: .5s;
    }
    
    .home-content .start-btn:hover{
        background: #09001d;
        box-shadow: none;
    }
    
    .guide-info{
        position: absolute;
        top: 50%;
        left: 50%;   
        transform: translate(-50%, -50%) scale(.9);
        width: 280px;
        background: #1f1e1e;
        border-radius: 30px;
        padding: 10px 25px;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    .quiz-section {
        position: relative;
        left: -50%;
        width: 100%;
        background: url(./quimage2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: .8s ease-in-out;
        transition-delay: .25s;
    }
    
    .quiz-section.active{
        left: 0;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 6px;
        padding: 7px;
        margin: 0 0 0 120px;
    }
    
    .quiz-section .quiz-box {
        position: relative;
        width: 300px;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box h1{
        font-size: 25px;
    }
    .quiz-box .question-text{
        font-size: 18px;
    }
    .quiz-box .option-list span{
        font-size: 16px;
    }
    .option-list .option {
        width: 100%;
        padding: 6px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 4px;
        font-size: 18px;
        margin: 4px 0;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 5px;
        padding: 10px;
        margin: 0 0 0 110px;
    }
    .quiz-section .result-box {
        width: 300px;
    }
    
}


@media screen and (min-width: 450px) and (max-width: 850px) and (min-height: 360px) and (max-height: 1366px) {
    html, body {
        overflow: hidden;
        height: 100%;
    }
    .home{
        position: relative;
        left: -50%;
        width: 100%;
        display: fixed; /*filled the screen for home page*/
        justify-content: center;
        align-items: center;
        color: rgb(31, 30, 32);
    }
    
    .home-content{
        max-width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: auto;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 20px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    
    .home-content .start-btn{
        width: 190px;
        height: 55px;
        background: #339aa6;
        border: 2px solid #fff;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px #339aa6;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: .5s;
    }
    
    .home-content .start-btn:hover{
        background: #09001d;
        box-shadow: none;
    }
    .guide-info{
        position: absolute;
        top: 50%;
        left: 50%;   
        height: auto;
        transform: translate(-50%, -50%) scale(.9);
        width: auto;
        background: #1f1e1e;
        border-radius: 30px;
        padding: 10px 25px;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    .guide-info h2{
        font-size: auto;
        color: #08e9d6;
    }
    
    .guide-info h1{
        font-size: auto;
        color: black;
    }
    
    .guide-info .info{
        display: inline-block;
        font-size: auto;
        color: #333;
        font-weight: 500;
        margin: auto;
    }
    .quiz-section .quiz-box {
        position: relative;
        width: auto;
        height: auto;
        background: transparent;
        border: auto solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box h1{
        font-size: auto;
    }
    .quiz-box .question-text{
        font-size: auto;
    }
    .quiz-box .option-list span{
        font-size: auto;
    }
    .option-list .option {
        width: auto;
        padding: auto;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: auto;
        font-size: auto;
        margin: auto;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 5px;
        padding: auto;
        margin: 0 0 0 auto;
    }
    .quiz-box .quiz-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: auto solid #084b4e;
        padding-top: auto;
        margin-top: auto;
    }
    
    .quiz-footer .question-total {
        font-size: auto;
        font-weight: auto;
    }
    
    .quiz-footer .next-btn{
        width: 100px;
        height: 45px;
        background: rgba(255, 255, 255, .1);
        border: 2px solid rgba(255, 255, 255, .1);
        outline: none;
        border-radius: 6px;
        font-size: 16px;
        color: rgba(255, 255, 255, .3);
        font-weight: 600;
        cursor: pointer;
        pointer-events: none;
        transition: .5s;
    }
    .quiz-section .result-box {
        width: auto;
    }
}

@media screen and (max-width: 1280px){
    html, body {
        overflow: hidden;
        height: 100%;
    }
}

@media screen and (min-height: 1366px) and (max-height: 1366px){
    .home-content{
        max-width: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: 74px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 30px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    
    .home-content .start-btn{
        width: 190px;
        height: 55px;
        background: #339aa6;
        border: 2px solid #fff;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px #339aa6;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: .5s;
    }
}

@media screen and (min-width: 712px) and (max-width: 800px){
    .home-content{
        max-width: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: 74px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 30px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    
    .home-content .start-btn{
        width: 190px;
        height: 55px;
        background: #339aa6;
        border: 2px solid #fff;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px #339aa6;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: .5s;
    }
    .quiz-section .quiz-box {
        position: relative;
        width: 550px;
        height: auto;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box h1{
        font-size: 35px;
    }
    .quiz-box .question-text{
        font-size: 25px;
        margin: 12px;
    }
    .quiz-box .option-list span{
        font-size: 20px;
        margin: 12px;
    }
    .option-list .option {
        width: 100%;
        height: 30%;
        padding: 3px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 4px;
        font-size: 23px;
        margin: 8px 0;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        margin: 0 0 0 345px;
    }
    .quiz-box .quiz-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #084b4e;
        padding-top: 20px;
        margin-top: 20px;
    }
    
    .quiz-footer .question-total {
        font-size: 22px;
        font-weight: 600;
    }
    .quiz-footer .next-btn{
        width: 100px;
        height: 45px;
        background: rgba(255, 255, 255, .1);
        border: 2px solid rgba(255, 255, 255, .1);
        outline: none;
        border-radius: 6px;
        font-size: 22px;
        color: rgba(255, 255, 255, .3);
        font-weight: 600;
        cursor: pointer;
        pointer-events: none;
        transition: .5s;
    }
    .quiz-section .result-box {
        width: 550px;
    }
}

@media screen and (min-width: 912px) and (max-width: 912px) {
    .home-content{
        max-width: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content h1{
        font-size: 74px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    .home-content p{
        font-size: 30px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        margin: 30px;
    }
    
    .home-content .start-btn{
        width: 190px;
        height: 55px;
        background: #339aa6;
        border: 2px solid #fff;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px #339aa6;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: .5s;
    }
}
@media screen and (max-height: 360px) and (min-height: 360px){
    .quiz-section .quiz-box {
        position: relative;
        width: 600px;
        height: 340px;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: .3s ease;
        transition-delay: 0s;
    }
    .quiz-box .quiz-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        border-bottom: 2px solid #084b4e;
        margin-bottom: 10px;
    }
    
    .quiz-header span {
        font-size: 18px;
        font-weight: 300;
    }
    
    .quiz-box h1{
        font-size: 18px;
    }
    .quiz-box .question-text{
        font-size: 13px;
        margin: 2px;
    }
    .quiz-box .option-list span{
        font-size: 12px;
        margin: 3px;
    }
    .option-list .option {
        width: auto;
        height: auto;
        padding: 3px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 4px;
        font-size: 13px;
        margin: 3px 0;
        cursor: pointer;
        transition: .3s;
    }
    .quiz-header .header-score {
        background: #084b4e;
        border-radius: 5px;
        padding: 10px;
        font-size: 10px;
        margin: 0 0 0 445px;
    }
    .quiz-box .quiz-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #084b4e;
        padding-top: 10px;
        margin-top: 10px;
    }
    
    .quiz-footer .question-total {
        font-size: 13px;
        font-weight: 600;
    }
    .quiz-footer .next-btn{
        width: 100px;
        height: 32px;
        background: rgba(255, 255, 255, .1);
        border: 2px solid rgba(255, 255, 255, .1);
        outline: none;
        border-radius: 6px;
        font-size: 12px;
        color: rgba(255, 255, 255, .3);
        font-weight: 600;
        cursor: pointer;
        pointer-events: none;
        transition: .5s;
    }
    .quiz-section .result-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.9);
        height: 340px;
        width: 500px;
        background: transparent;
        border: 2px solid #084b4e;
        border-radius: 25px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    
    .quiz-section .result-box.active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .result-box h2 {
        font-size: 22px;
    }
    
    .result-box .percentage-container {
        width: 300;
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 40px;
    }
    
    .percentage-container .circular-progress {
        position: relative;
        width: 120px !important;
        height: 120px !important;
        background: conic-gradient(#084e17 3.6deg, rgba(255, 255, 255, .1) 0deg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .percentage-container .circular-progress::before {
        content: '';
        position: absolute;
        width: 90px !important;
        height: 90px !important;
        background: #09001d;
        border-radius: 50%;
    }
    
    .circular-progress .progress-value {
        position: relative;
        font-size: 25px;
        font-weight: 200;
    }
    
    .percentage-container .score-text {
        font-size: 16px;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .result-box .buttons {
        display: flex;
    }
    
    .buttons button {
        width: 80px;
        height: 37px;
        background: #084b4e;
        border: 2px solid #084b4e;
        outline: none;
        border-radius: 25px;
        font-size: 16px;
        color: #fff;
        font-weight: 200;
        margin: 0 10px 20px;
        cursor: pointer;
        transition: .5s;
    }
    
    .buttons button:nth-child(1):hover {
        background: #084b4e;
        border-color: #084b4e;
    }
    
    .buttons button:nth-child(2) {
        background: transparent;
        color: #084b4e;
    }
    
    .buttons button:nth-child(2):hover {
        background: #084b4e;
        
        color: #fff;
    }
    .quiz-section .result-box {
        width: 500px;
    }
    
}
.stuff{
    
    color: #084e17;
    color: #788408;
    color: #960606;
}
